.navLogo{
    width: 30px;
    scale: 1.6;
}

.nav-link:hover{
    opacity: 0.7;
}

.nav-link{
    transition: all 0.4s;
}

.heroLogo{
    width: 100vw;
    position: absolute;
    z-index: -1;
}

.domainImg{
    width: 30px;
}
.domainItem{
    padding-right: 10px;
    border-radius: 5px;
}

.socialIcon
{
    width: 30px;
}